/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  color: rgb(200,200,200);
  background-color: #333;
  font-size: 14px;
  height: 100vh;
  overflow: hidden;
}
